<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Watchlist</title>
</head>

<body>
	<h1>Here is your watchlist</h1>
	<div>
		<%- stocksTable %>
	</div>

    <hr>
</body>

</html>